@model PayPal.Models.PayPalViewData
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<p>
    Congratulations on your purchase! Your money is now my money. 
<p/>

<p><a href="/">Start over</a></p>